---
import BaseLayout from '../layouts/Base-Layouts.astro';
const pageTitle = "Binary Fish";
import BlogPostComponent from '../components/BlogPostComponent.astro'
const allPosts = await Astro.glob('../pages/posts/*.md');
allPosts.reverse()
allPosts.splice(4)

const pageDescription = "Discover BinaryFish, a technological blog that fuels coders' passion. Explore many FREE articles to boost your curiosity. "

---
<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <h2>Atcoder, Game and Web development guide for <span class="marker">everyone.</span></h2>
  <div class="recentpost">
    <h2>Recent posts</h2>
    <ul class="allblog">
      {allPosts.map((post) => <BlogPostComponent url={post.url} imgURL={post.frontmatter.imgurl} description={post.frontmatter.description} title={post.frontmatter.title} />)}
      </ul>
  </div>
</BaseLayout>