---
import BaseLayout from '../layouts/Base-Layouts.astro';
const pageTitle = "Binary Fish";
import BlogPostComponent from '../components/BlogPostComponent.astro'
const allPosts = await Astro.glob('../pages/posts/*.md');
allPosts.reverse()
allPosts.splice(4)

const pageDescription = "Discover BinaryFish, a technological blog that fuels coders' passion. Explore many FREE articles to boost your curiosity. "

---
<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <head>
    <meta name="google-site-verification" content="roEnOrOR9xtQwHM79njUCvfNGlVMhgY1PvnMoBExf3o" />
    <meta name="msvalidate.01" content="DE4DF1E560F2F8C3EF815A8F9DB684AB" />
  </head>
  <h3>Atcoder, Game and Web development guide for <span class="marker">everyone.</span></h3>
  <div class="recentpost">
    <h2 style="text-align: start; margin-top: 2%;"><span class="marker">Recent posts</span></h2>
    <ul class="allblog">
      {allPosts.map((post) => <BlogPostComponent url={post.url} tag={post.frontmatter.tags[0]} imgURL={post.frontmatter.imgurl} description={post.frontmatter.description} title={post.frontmatter.title} />)}
      </ul>
  </div>
</BaseLayout>