---
const { title, url,imgURL,description } = Astro.props;
---
<li class="maxedout">
    <a href={url} class="bold"><img  class="roundedimg thumbanil" src={imgURL} width="240" height="120" alt="" /> </a>
    <a href={url} class="bold">{title}</a>
    <p>{description}</p>
</li>
