---
const { title, url,imgURL,description } = Astro.props;
---
<li class="maxedout">
    <a href={url} class="bold"><img  height="120px" class="cardimg" src={imgURL} alt="" /> </a>
    <div class="textcontainer">
        <a href={url} class="bold cardtxt">{title}</a>
        <p class="cardtxt">{description}</p>
    </div>

</li>
