---
const { title, url,imgURL,description,tag } = Astro.props;
---
<li class="maxedout carrd">
    <a href={url} class="bold"><img  height="120px" class="cardimg" src={imgURL} alt="" /> </a>
    <p class="chip">{tag}</p>
    <div class="textcontainer">
        <a href={url} class="bold cardtxt">{title}</a>
       
    </div>

</li>
