---
const { frontmatter } = Astro.props;
import { Image } from 'astro:assets';
import '../styles/global.css';
import BaseLayouts from '../layouts/Base-Layouts.astro';
import '../styles/global.css';
/* Icons */
---
<BaseLayouts pageTitle={frontmatter.title}>
<div class="blogpage">
  <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: start; ">
    <div style="margin-right: 2%;">
        
        <p>Written by <strong>{frontmatter.author}</strong></p>
    </div>

    <p>Published on: <strong>{frontmatter.pubDate.slice(0,10)}</strong></p>
  </div>
<!--　説明文を追加する <p><em>{frontmatter.description}</em></p> -->
<img src={frontmatter.image.url} width="100%" height="auto" alt={frontmatter.image.alt} />
<div class="blogarticle">
  <slot />
</div>
</BaseLayouts>
</div>
<style>
  .blogpage {
    max-width: 80ch;
    margin: 0 auto;
  }
    img {
      max-width: 638px;
      height: auto;
      border-radius: 2%
    }
  </style>