---
const { frontmatter } = Astro.props;
import { Image } from 'astro:assets';
import '../styles/global.css';
import BaseLayouts from '../layouts/Base-Layouts.astro';
import '../styles/global.css';
---
<BaseLayouts pageTitle={frontmatter.title}>
  <head>
    <script type="application/ld+json">
      {
        "@context": "https://binary-fish.vercel.app/",
        "@type": "BlogPosting",
        "headline": {frontmatter.title},
        "image": [
          {frontmatter.image.url}
         ],
        "datePublished": {frontmatter.puDate},
        "dateModified": {frontmatter.puDate},
        "author": [{
            "@type": "Person",
            "name": "Snow Dingo",
            "url": "https://binary-fish.vercel.app/about/"
          }]
      }
      </script>
  </head>
<div class="blogpage">
  <p>Written by {frontmatter.author}</p>
<p>Published on: {frontmatter.pubDate.slice(0,10)}</p>
<!--　説明文を追加する <p><em>{frontmatter.description}</em></p> -->
<img src={frontmatter.image.url} width="100%" height="auto" alt={frontmatter.image.alt} />
<slot />
</BaseLayouts>
</div>
<style>
  .blogpage {
    max-width: 80ch;
    margin: 0 auto;
  }
    img {
      max-width: 638px;
      height: auto;
      border-radius: 2%
    }
  </style>