---
const { frontmatter } = Astro.props;
import { Image } from 'astro:assets';
import '../styles/global.css';
---
<h1>{frontmatter.title}</h1>
<p>Written by {frontmatter.author}</p>
<p>Published on: {frontmatter.pubDate.slice(0,10)}</p>
<!--　説明文を追加する <p><em>{frontmatter.description}</em></p> -->
<Image src={frontmatter.image.url} width="300" height={150} alt={frontmatter.image.alt} />
<slot />